* {
	padding: 0;
	margin: 0;
	background-color: transparent;
	box-sizing: border-box;
	font-family: var(--font);
	color: var(--text);
}

:root {
	--text: #fff;
	--text-light: #888;
	--bg: #000;
	--font: Rokkitt;
	font-size: 10pt;
}

body {
	background-color: var(--bg);
}

b {
	font-weight: 900;
}

.cont {
	position: absolute;
	border: 3px solid var(--text);
	margin: auto;
	padding: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	max-width: 680px;
	/* transition: opacity 0.05s; */
}

#hero {
	transform: translateY(-50%);
	width: 55%;
	top: 50%;
	left: 0;
	right: 0;
}

.sep-head {
	position: relative;
	font-size: 3.5rem;
	font-weight: 200;
	padding-bottom: 40px;
	width: 100%;
	color: inherit;
}

.sep-head::after {
	content: "";
	position: absolute;
	height: 2.5px;
	width: 75px;
	background-color: currentColor;
	bottom: 20px;
	left: 0;
	right: 0;
	margin: auto;
}

.cont p {
	font-size: 1.6rem;
	color: var(--text-light);
	width: 100%;
}

.cont p:nth-of-type(2) {
	margin-top: 10px;
	color: var(--text);
}

.cont .btn {
	width: 150px;
	margin-top: 40px;
}

canvas {
	position: relative;
	z-index: 2;
}

.overlay {
	position: absolute;
	width: 18%;
	max-height: 45%;
	overflow: auto;
	top: 40px;
	left: 40px;
	display: flex;
	flex-direction: column;
	background-color: var(--text);
	color: var(--bg);
	padding: 20px;
}

.overlay * {
	color: inherit;
}

.overlay-right {
	width: 18%;
	left: initial;
	right: 40px;
	text-align: right;
	max-height: initial;
	min-width: 260px;
	background-color: initial;
	color: var(--text);
	padding: 0;
}

.overlay h1 {
	font-size: 2.5rem;
	font-weight: 100;
}

.overlay h1::after {
	left: 0;
	right: initial;
}

.overlay-right h1::after {
	left: initial;
	right: 0;
}

.overlay-size {
	font-weight: 700;
	opacity: 1 !important;
	font-size: 1.7rem;
}

.overlay-year {
	font-style: italic;
	font-size: 1.4rem;
	opacity: 0.8;
	margin-top: 15px;
	font-weight: 500;
}

.overlay-desc {
	margin-top: 15px;
	font-size: 1.6rem;
	color: var(--text-light);
}

.overlay-desc span {
	font-size: 2.2rem;
	color: var(--bg);
}

.overlay-control {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.overlay-control h3 {
	font-weight: 300;
	font-size: 1.45rem;
	color: var(--text-light);
}

.overlay-control h3 b {
	font-weight: 600;
	opacity: 1 !important;
	color: var(--text);
}

.overlay-controls-view {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin: 15px 0;
	width: 100%;
}

.overlay-controls-view img {
	height: 40px;
	width: auto;
	margin: 0 3px;
}

.btn {
	width: 100%;
	height: 42px;
	outline: none;
	border: 2px solid var(--text);
	z-index: 2;
	text-transform: uppercase;
	margin-top: 20px;
	cursor: pointer;
	transition: background-color 0.2s, color 0.2s;
	font-weight: 600;
	color: var(--text);
}

.btn:hover {
	background-color: var(--text);
	color: var(--bg);
}
